In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [120]:
data = pd.read_csv(r"C:\Users\Nare\Downloads\spotify_churn_dataset.csv")
data

,user_id,gender,age,country,subscription_type,listening_time,songs_played_per_day,skip_rate,device_type,ads_listened_per_week,offline_listening,is_churned
0,1,Female,54,CA,Free,26,23,0.20,Desktop,31,0,1
1,2,Other,33,DE,Family,141,62,0.34,Web,0,1,0
2,3,Male,38,AU,Premium,199,38,0.04,Mobile,0,1,1
3,4,Female,22,CA,Student,36,2,0.31,Mobile,0,1,0
4,5,Other,29,US,Family,250,57,0.36,Mobile,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7996,Other,44,DE,Student,237,36,0.30,Mobile,0,1,1
7996,7997,Male,34,AU,Premium,61,64,0.59,Mobile,0,1,0
7997,7998,Female,17,US,Free,81,62,0.33,Desktop,5,0,0
7998,7999,Female,34,IN,Student,245,94,0.27,Desktop,0,1,0
7999,8000,Other,45,AU,Free,210,68,0.46,Desktop,6,0,0

In [121]:
data.isna().sum()

user_id                  0
gender                   0
age                      0
country                  0
subscription_type        0
listening_time           0
songs_played_per_day     0
skip_rate                0
device_type              0
ads_listened_per_week    0
offline_listening        0
is_churned               0
dtype: int64

In [122]:
data.drop("country", axis = 1, inplace=True)

In [123]:
data.drop("device_type", axis = 1, inplace=True)

In [124]:
data['gender'] = data['gender'].replace('Female', 0)
data['gender'] = data['gender'].replace('Male', 1)
data['gender'] = data['gender'].replace('Other', 2)

In [125]:
data

,user_id,gender,age,subscription_type,listening_time,songs_played_per_day,skip_rate,ads_listened_per_week,offline_listening,is_churned
0,1,0,54,Free,26,23,0.20,31,0,1
1,2,2,33,Family,141,62,0.34,0,1,0
2,3,1,38,Premium,199,38,0.04,0,1,1
3,4,0,22,Student,36,2,0.31,0,1,0
4,5,2,29,Family,250,57,0.36,0,1,1
...,...,...,...,...,...,...,...,...,...,...
7995,7996,2,44,Student,237,36,0.30,0,1,1
7996,7997,1,34,Premium,61,64,0.59,0,1,0
7997,7998,0,17,Free,81,62,0.33,5,0,0
7998,7999,0,34,Student,245,94,0.27,0,1,0
7999,8000,2,45,Free,210,68,0.46,6,0,0

In [126]:
data['subscription_type'] = data['subscription_type'].replace('Free', 0)
data['subscription_type'] = data['subscription_type'].replace('Family', 1)
data['subscription_type'] = data['subscription_type'].replace('Premium', 2)
data['subscription_type'] = data['subscription_type'].replace('Student', 3)

In [127]:
data

,user_id,gender,age,subscription_type,listening_time,songs_played_per_day,skip_rate,ads_listened_per_week,offline_listening,is_churned
0,1,0,54,0,26,23,0.20,31,0,1
1,2,2,33,1,141,62,0.34,0,1,0
2,3,1,38,2,199,38,0.04,0,1,1
3,4,0,22,3,36,2,0.31,0,1,0
4,5,2,29,1,250,57,0.36,0,1,1
...,...,...,...,...,...,...,...,...,...,...
7995,7996,2,44,3,237,36,0.30,0,1,1
7996,7997,1,34,2,61,64,0.59,0,1,0
7997,7998,0,17,0,81,62,0.33,5,0,0
7998,7999,0,34,3,245,94,0.27,0,1,0
7999,8000,2,45,0,210,68,0.46,6,0,0

In [128]:
data["is_churned"] = data.is_churned.astype("int8")

# Logistic Regresion

In [129]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [130]:
X = data.drop(columns=["is_churned"])
y = data["is_churned"]

In [133]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [134]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_train, model.predict(X_train))

0.73890625

# GaussianNB

In [117]:
from sklearn.naive_bayes import GaussianNB

In [132]:
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_train, model.predict(X_train))

0.73890625

In [ ]:
model = KNeighborsClassifier(n_neighbors=8, weights='distance')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)